body {
    background: url('https://img.lovepik.com/bg/20231225/Captivating-Black-Abstract-Wave-Animation-Background-Artwork_2674413_wh860.jpg!/fw/860') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(0, 0, 0, 0.575);
    /* Qora fon (shaffof) */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.815);
    width: 400px;
    text-align: center;
    color: white;
    /* Matn rangi oq */
}

.profile-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.profile-container h2 {
    color: #ff0000;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #007bff;
    margin-bottom: 10px;
}

.file-input {
    display: none;
}

.upload-btn {
    background: #007bff;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    color: #ff0000;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-btn {
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
}

.save-btn:hover {
    background: #218838;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.bottom-nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}